@import url('https://fonts.googleapis.com/css?family=Roboto');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
}

#root {
  height: 100%;
}

.container {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 0 0 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.column:nth-child(2) {
  margin: 0 4.5%;
}

.column__title {
  height: 36px;
  margin: 0 0 4px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.column__count {
  height: 27px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 13px;
}

.column__progress {
  margin: 0;
  width: 100%;
  min-height: 40px;
  position: relative;
  overflow: hidden;
  height: calc(100% - 80px - 83px);
}

.column__progress img {
  max-width: 80%;
  max-height: 90%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
}

.column__footer {
  margin: 10px 0 0;
  padding: 0;
  list-style: none;
}

.column__footer-item {
  display: flex;
  padding: 2px 0;
  font-size: 20px;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.column__footer-item:first-child {
  border-top: 0;
}
